body {
    font-family: "Roboto";
    padding-left: 2%;
    padding-right: 2%;
}
li {
    padding: 1%;
}

#info-background {
    background-color: #E9D8A6;
    border-radius: 6px;
    padding: 2%;
    
}